.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loginContainer {
  background: #1e1e1e;
  border-radius: 10px;
  width: 420px;
  height: 650px;
  text-align: center;
  position: relative;
}

.loginContainer h2 {
  margin-bottom: 1px;
  font-size: 24px;
  color: #fff;
}

.inputGroup {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.inputGroup input {
  width: 100%;
  padding: 8px 45px 10px 20px;
  border: none;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: #333;
  outline: none;
  color: #fff;
  border-radius: 40px;
  font-size: 16px;
}

.inputGroup input::placeholder {
  color: #fff;
}

.inputGroup .icon {
  position: absolute;
  right: 40px;
  top: 80%;
  color: #fff;
  transform: translateY(-50%);
}

.togglePassword {
  position: absolute;
  right: 40px;
  top: 80%;
  color: #fff;
  transform: translateY(-50%);
  cursor: pointer;
}

form .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
  color: #fff;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

form button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

form .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
  color: #fff;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.register-link p a:hover {
  text-decoration: underline;
}

.divider {
  text-align: center;
  color: #fff;
}

.socialLogin {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.socialBtn {
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #444;
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
